<section class="content hasContent">
    <section class="inner">
        <h3 class="heading">About ShockLock</h3>
        <h5 class="heading2">
            ShockLock is the strongest solution for failed gas struts.
            It is a heavy duty tool to help hold up hatches like hoods and trunks,
            providing a safe working environment for technicians and vehicle owners.
            Intuitively designed, ShockLock reduces vehicle damage liability,
            while optimizing engine workspace.
        </h5>
    </section>
</section>
<section class="content hasContent">
    <section class="inner">
        <p class="heading3">
            ShockLock is an invention from Ansik Inc a Start-up company which is the conception and ingenuity of
            three graduates from the University of Waterloo in Kitchener, Ontario, Canada. Shiva Bhardwaj is an
            Electrical and Computer Engineering graduate with an extensive background in automotive service as
            a result of working at his father’s garage, GB Autos, since he was 12 years old. Nitish Pahwa is a
            Mechanical Engineering graduate who has designed and built automotive products for companies like Linamar
            and ABC group. Yashin Shah is a Communications and Management Studies graduate with extensive sales and
            marketing experience and has been a SEMA (Speciality Equipment Market Association) for the past two years.
            Headquartered in the heart of Downtown Kitchener, Ansik Inc. is currently incubated through the University
            of Waterloo’s Velocity Foundry incubator.
        </p>
    </section>
</section>
<section class="content hasContent">
    <section class="inner">
        <p class="heading3">
            After many years in his fathers mechanic shop, Shiva witnessed countless of injuries
            caused by failed gas struts. The number of bruised hands and stitches to the head from
            hoods and trunks falling down on drivers and technicians is what really motivated Shiva
            to build ShockLock. One incident in particular triggered the initiative to solve this problem.
            An older gentleman went into the trunk of his Mercedes B200 to grab some bags as he was leaving
            his vehicle at the shop for engine repairs. While grabbing his bags he slightly shook the vehicle
            which resulted in his weakened struts to fail causing his trunk to come crashing down like a guillotine.
            Luckily Shiva was there to catch the hatch before it smashed his back!! When Shiva asked the customer
            if he should order him two gas charged lift supports the response was, "No way I have looked at
            the price and $150 for the pair is not worth while". What shocked Shiva was the cost of being safe
            from your hatch was significantly overpriced, and that is where we set out to developing our simple
            yet cost effective technology to bring ShockLock to the automotive world.
        </p>
    </section>
</section>
<section class="fancyDivider"></section>
<section class="content hasContent">
    <section class="inner">
        <h3 class="heading">Press</h3>
        <h5 class="heading2">Shoot us an email at info@shocklock.ca for press any inquiries.</h5>
    </section>
</section>
<section class="content hasContent">
    <section class="inner">
        <p class="heading3">
            <a href="http://rogerstv.com/page.aspx?lid=237&rid=17&gid=218743"
               title='ShockLock on Rogers TV'>
                <i class="ion-link"></i>
                ShockLock on Rogers TV
            </a><br>
            <a href="http://www.carsmagazine.ca/features/new-hood-clamp-protects-techs-from-injury/"
               title='New hood clamp protects techs from injury'>
                <i class="ion-link"></i>
                Cars Magazine: "New hood clamp protects techs from injury"
            </a><br>
            <a href="http://www.therecord.com/news-story/5200790-startup-locks-onto-solution-for-falling-car-hoods/?&article_id=19822184957"
               title="Startup locks onto solution for falling car hoods">
                <i class="ion-link"></i>
                The Record: "Startup locks onto solution for falling car hoods"
            </a><br>
            <a href="http://www.betakit.com/ansik-knows-that-sales-are-sexier-than-sector/"
               title="ANSIK KNOWS THAT SALES ARE SEXIER THAN SECTOR">
                <i class="ion-link"></i>
                Betakit: "Ansik knows that sales are sexier than sector"
            </a><br>
            <a href="http://www.vehicleservicepros.com/product/12042479/ansik-inc-shocklock"
               title='Vehicle Service Pros: "ShockLock"'>
                <i class="ion-link"></i>
                Vehicle Service Pros: "ShockLock"
            </a><br>
            <a href="http://www.thestar.com/autos/2014/10/11/ontarioinnovatorscreate_newauto_products.html"
               title='Toronto Star: "Ontarioinnovatorscreate newauto products"'>
                <i class="ion-link"></i>
                Toronto Star: "Ontarioinnovatorscreate newauto products"
            </a><br>
        </p>
    </section>
</section>
<section class="fancyDivider"></section>
<section class="content hasContent">
    <section class="inner">
        <i class="contentIcon ion-trophy" style="color:#FFEB3B"></i>
        <h3 class="heading">Awards</h3>
        <h5 class="heading2">
            ShockLock wouldn't be possible, without the help of these awesome organizations
        </h5>
    </section>
</section>
<section class="content hasContent">
    <section class="inner">
        <p class="heading3">
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 HumberLaunch Entrepreneur Awards - “Start-up of The Year Award”<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 NSERC Engage Grant Recipient<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 Communitech Business Development Grant<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 Ontario Centre’s of Excellence SmartStart Seed Fund<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 University of Waterloo Velocity Fund Final “Best Overall Pitch” Award<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 Ontario Regional Alliance Fund Recipient<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 Ontario Starter Company Award<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 Ontario Summer Company Award<br>
        </p>
    </section>
</section>
<section class="fancyDivider"></section>
<section class="content beforeFooter">
    <section class="inner">
        <h3 class="heading">Got A Question?</h3>
        <h5 class="heading2">
            Shoot us an email at info@shocklock.ca and we will get back to you as soon as possible.
        </h5>
    </section>
</section>
