<section class="content hasContent">
    <section class="inner">
        <h3 class="heading">Contact ShockLock</h3>
        <h5 class="heading2">
            Shoot us an email at info@shocklock.ca and we will get back to you as soon as possible.        </h5>
    </section>
</section>
<section class="content hasContent">
    <section class="inner alignCenter">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11586.084590115359!2d-80.495677!3d43.449716!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeafe068e8d60d201!2sVelocity+Foundry!5e0!3m2!1sen!2sca!4v1421178389249" height="450" frameborder="0" class="map"></iframe>
        <br>

        <h5 class="description">
            45 Water Street South
            Kitchener, ON N2G 1J4
        </h5>
    </section>
</section>