<header class="homeHeader" class="homeHeader">
    <section class="columns">
        <section class="column-6">

            <h1 class="title animated bounceInLeft">Shock<strong>Lock</strong></h1>
            <p class="description animated bounceInRight">
                Safety For The <strong>Professional</strong> Technician.
            </p>
            <a class="vidbutton animated fadeInDownBig" href="https://www.youtube.com/watch?v=Qt1b8ibUeOY" target="_blank">
                Watch Video
            </a>
        </section>
    </section>
    <!--<video autoplay loop id="bgvid">
        <source src="resources/shocklock.webmhd.webm" type="video/webm">
        <source src="resources/shocklock.mp4" type="video/mp4">
        <source src="resources/shocklock.oggtheora.ogv" type="video/ogv">
    </video>-->
    <video autoplay loop id="bgvid">
        <source src="resources/ShockLock.webm#t=18,32" type="video/webm">
        <source src="resources/ShockLock-copy.mp4#t=18,32" type="video/mp4">
        <source src="resources/ShockLock.ogv#t=18,32" type="video/ogv">
    </video>

</header>
<section class="content hasContent">
    <section class="inner">
        <h3 class="heading">ShockLock is all about SAFETY</h3>
        <h5 class="heading2">
            ShockLock is the strongest solution for failed gas struts.
            It is a heavy duty tool to help hold up hatches like hoods and trunks,
            providing a safe working environment for technicians and vehicle owners.
            Intuitively designed, ShockLock reduces vehicle damage liability,
            while optimizing engine workspace.
        </h5>
    </section>
</section>

<section class="content hasContent">
    <section class="inner">
        <div class="csslider">
            <input type="radio" name="slides" id="slides_1" checked />
            <input type="radio" name="slides" id="slides_2" />
            <input type="radio" name="slides" id="slides_3" />
            <input type="radio" name="slides" id="slides_4" />
            <ul>
                <li><img src="../resources/4S2A4863.jpg" alt="ShockLock Picture 1"></li>
                <li><img src="../resources/4S2A4860.jpg" alt="ShockLock Picture 2" style="margin-top: -200px;"></li>
                <li><img src="../resources/4S2A4847.jpg" alt="ShockLock Picture 3" style="margin-top: -200px;"></li>
                <li><img src="../resources/4S2A4846.jpg" alt="ShockLock Picture 4"></li>
            </ul>
            <div class="arrows">
                <label for="slides_1"></label>
                <label for="slides_2"></label>
                <label for="slides_3"></label>
                <label for="slides_4"></label>
                <label for="slides_1" class="goto-first"></label>
                <label for="slides_4" class="goto-last"></label>
            </div>
            <div class="navigation">
                <div>
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                    <label for="slides_4"></label>
                </div>
            </div>
        </div>
    </section>
</section>
<!--
<section class="content hasContent">
    <section class="inner">
        <iframe src="https://www.youtube.com/embed/Qt1b8ibUeOY?modestbranding=1&rel=0&theme=light&autohide=0"
                height="600" frameborder="0" allowfullscreen></iframe>
    </section>
</section>
-->
<section class="content hasContent">
    <section class="columns">
        <section class="column-4 alignCenter">
            <i class="contentIcon ion-android-hand"></i>
            <h5 class="title">
                One Handed Application
            </h5>
            <p class="description">
                ShockLock is easy to use and you can install/uninstall it with only one hand.
            </p>
        </section>
        <section class="column-4 alignCenter">
            <i class="contentIcon ion-cube"></i>
            <h5 class="title">
                Supports 100 lbs of Weight
            </h5>
            <p class="description">
                ShockLock is strong! ShockLock supports 100 lbs of weight while the average hatch is 40lbs.
            </p>

        </section>
        <section class="column-4 alignCenter">
            <i class="contentIcon ion-thumbsup"></i>
            <h5 class="title">
                Non Damaging
            </h5>
            <p class="description">
                ShockLock is made from 100% non-damaging aluminium.
            </p>
        </section>
    </section>
</section>
<section class="fancyDivider"></section>
<section class="content hasContent">
    <section class="inner">
        <h3 class="heading">Technicians <i class="ion-heart" style="color:#E91E63"></i> ShockLock</h3>
        <h5 class="heading2">
            See what other technicians are saying about ShockLock.
        </h5>
    </section>
</section>
<section class="content"></section>
<section class="content hasContent">
    <section class="columns">
        <section class="column-4 alignCenter">
            <p class="description">
                “ShockLock is quick and easy to install”
            </p>
            <h6 class="title">
                – Independent owner at NapaAuto Pro
            </h6>
        </section>
        <section class="column-4 alignCenter">
            <p class="description">
                "ShockLock Definitely provides peace of mind, while working under the hood."
            </p>
            <h6 class="title">
                - Service Manager at Midas. Waterloo, Ontario.
            </h6>
        </section>
        <section class="column-4 alignCenter">
            <p class="description">
                “ShockLock is a safety tool all service centres should have to reduce injury liability.”
            </p>
            <h6 class="title">
                - Service Manager at JiffyLube. Mississauga, Ontario
            </h6>
        </section>
    </section>
</section>
<section class="fancyDivider"></section>
<section class="content hasContent">
    <section class="inner">
        <i class="contentIcon ion-trophy" style="color:#FFEB3B"></i>
        <h3 class="heading"> Awards</h3>
        <h5 class="heading2">
            ShockLock wouldn't be possible, without the help of these awesome organizations
        </h5>
    </section>
</section>
<section class="content hasContent awards">
    <section class="columns">
        <!--<section class="column-4 alignCenter">
            <a href="http://oce-ontario.org/"
               target="_blank"
               title="2015 Ontario Centre’s of Excellence SmartStart Seed Fund - ShockLock by Ansik">
                <img src="../resources/oce-award.png"
                     style="margin: 50px 0;"
                     alt="2015 Ontario Centre’s of Excellence SmartStart Seed Fund - ShockLock by Ansik">
            </a>
            <p class="description">
                The  SmartStart Seed Fund (SmartStart) supports new ventures led by Ontario’s next generation
                of entrepreneurs.
            </p>
            <h6 class="title">
                2015 Ontario Centre’s of Excellence SmartStart Seed Fund
            </h6>
        </section>
        <section class="column-4 alignCenter">
            <a href="http://humber.ca/humberlaunch/EntrepreneurAwards"
               target="_blank"
               title="startup of the year award - ShockLock by Ansik">
                <img src="../resources/humber-launch-award.png"
                     alt="startup of the year award - ShockLock by Ansik">
            </a>
            <p class="description">
                HumberLaunch is the destination for entrepreneurial innovation.
                HumberLaunch provides entrepreneurs with the environment and resources to
                cultivate innovative ideas into successful business ventures.
            </p>
            <h6 class="title">
                2015 HumberLaunch Entrepreneur Awards - “Start-up of The Year Award”
            </h6>
        </section>
        <section class="column-4 alignCenter">
            <a href="http://velocity.uwaterloo.ca/velocity-fund/"
               target="_blank"
               title="2014 University of Waterloo Velocity Fund Final “Best Overall Pitch” Award - ShockLock by Ansik">
                <img src="../resources/velocity-logo.png"
                     style="margin: 50px 0;"
                     alt="2014 University of Waterloo Velocity Fund Final “Best Overall Pitch” Award - ShockLock by Ansik">
            </a>
            <p class="description">
                The Velocity Fund is a grant program for startups and aspiring entrepreneurs to win
                funding through competitions held three times per year.            </p>
            <h6 class="title">
                2014 University of Waterloo Velocity Fund Final “Best Overall Pitch” Award
            </h6>
        </section>-->
        <p class="heading3">
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 HumberLaunch Entrepreneur Awards - “Start-up of The Year Award”<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 NSERC Engage Grant Recipient<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 Communitech Business Development Grant<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2015 Ontario Centre’s of Excellence SmartStart Seed Fund<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 University of Waterloo Velocity Fund Final “Best Overall Pitch” Award<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 Ontario Regional Alliance Fund Recipient<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 Ontario Starter Company Award<br>
            <i class="ion-trophy" style="color:#FFEB3B"></i> 2014 Ontario Summer Company Award<br>
        </p>
    </section>
</section>
<!--
<section class="fancyDivider"></section>
<section class="content hasContent">
    <section class="inner">
        <h3 class="heading">Press</h3>
        <h5 class="heading2">Shoot us an email at info@shocklock.ca for press any inquiries.</h5>
    </section>
</section>
<section class="content hasContent">
    <section class="inner">
        <p class="heading3">
            <a href="http://rogerstv.com/page.aspx?lid=237&rid=17&gid=218743"
               title='ShockLock on Rogers TV'>
                <i class="ion-link"></i>
                ShockLock on Rogers TV
            </a><br>
            <a href="http://www.carsmagazine.ca/features/new-hood-clamp-protects-techs-from-injury/"
               title='New hood clamp protects techs from injury'>
                <i class="ion-link"></i>
                Cars Magazine: "New hood clamp protects techs from injury"
            </a><br>
            <a href="http://www.therecord.com/news-story/5200790-startup-locks-onto-solution-for-falling-car-hoods/?&article_id=19822184957"
               title="Startup locks onto solution for falling car hoods">
                <i class="ion-link"></i>
                The Record: "Startup locks onto solution for falling car hoods"
            </a><br>
            <a href="http://www.betakit.com/ansik-knows-that-sales-are-sexier-than-sector/"
               title="ANSIK KNOWS THAT SALES ARE SEXIER THAN SECTOR">
                <i class="ion-link"></i>
                Betakit: "Ansik knows that sales are sexier than sector"
            </a><br>
            <a href="http://www.vehicleservicepros.com/product/12042479/ansik-inc-shocklock"
               title='Vehicle Service Pros: "ShockLock"'>
                <i class="ion-link"></i>
                Vehicle Service Pros: "ShockLock"
            </a><br>
            <a href="http://www.thestar.com/autos/2014/10/11/ontarioinnovatorscreate_newauto_products.html"
               title='Toronto Star: "Ontarioinnovatorscreate newauto products"'>
                <i class="ion-link"></i>
                Toronto Star: "Ontarioinnovatorscreate newauto products"
            </a><br>
        </p>
    </section>
</section>
-->
<section class="fancyDivider"></section>
<section class="content beforeFooter">
    <section class="inner">
        <h3 class="heading">Got A Question?</h3>
        <h5 class="heading2">
            Shoot us an email at info@shocklock.ca and we will get back to you as soon as possible.
        </h5>
    </section>
</section>